# Importing OpenCV and Python Libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab.patches import cv2_imshow  #so that we can show the image
import cv2       # importing Open CV

from google.colab import files    # we are importing the file from the device
uploaded = files.upload()

# Applying Normalization on  a Dataset

In [ ]:
data = {
       'Age': [25,35 , 45 , 23 , 54 , 28 , 50 , 32 , 42 ,37 ],
       'Salary': [50000 , 60000 , 100000 , 40000 , 120000 , 35000 , 110000 , 65000 , 95000 , 70000 ],
       'Purchase Amount': [ 200 , 500 , 700 , 150 , 800 , 300 , 750 , 400 , 650 , 600 ]

}

df = pd.DataFrame(data)
df

In [ ]:
# Normalizing the data
normalized_df=(df-df.min())/(df.max()-df.min())         # Min Max SCaler
normalized_df

In [ ]:
df.describe

In [ ]:
normalized_df.describe()

#  Standardization of the values

In [ ]:
standardized_df=(df-df.mean())/df.std()
standardized_df

In [ ]:
standardized_df.describe()